.historias-mozos-container {
  margin-top: 20px;
  background-color: #ddc5a1;
  padding: 20px;
  overflow: hidden;
}

.historias-mozos-titulo {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.historias-mozos-carrusel .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none; /* Quita el borde de enfoque */
}

.historias-mozos-item {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historias-mozos-imagen {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.historias-mozos-nombre {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.historias-mozos-descripcion {
  font-size: 14px;
  color: #888;
}

.historias-mozos-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.historias-mozos-modal-imagen {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .historias-mozos-imagen {
    width: 100px;
    height: 100px;
  }

  .historias-mozos-nombre {
    font-size: 16px;
  }

  .historias-mozos-descripcion {
    font-size: 12px;
  }
}
